@media (max-width: 960px){
    /** Mobile Menu */

    #liens-mobile6{
        background-color: #542B56;
    }

    /** Mobile Body */

    #title{
        display: none;
    }
    .titre-bar-mobile{
        display: flex;
        justify-content: center;
    }

    .btn{
        font-size: 16px;
        text-align: left;
    }

    .card-body{
        font-size: 12px;
    }

    #faq-content{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}