@media (max-width: 960px){
    /** Mobile Menu */

    #liens-mobile7{
        background-color: #542B56;
    }

    /** Titre-mobile */

    #titre-bar-mobile{
        background-color: rgb(88, 122, 66);
    }

    /** Mobile Body */

    .btn{
        font-size: 16px;
        text-align: left;
    }

    .card-body{
        font-size: 12px;
    }

    #faq-content{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}