/** Header Barre */

#item-barre6{
    background-color: rgba(88, 122, 66, 0.65);
}

/** Body */

h1{
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 25px;
    color: white;
    margin: 0 0 0 0;
    text-align: center;
}

.btn{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 25px;
}

.space-bar {
    border-right: solid 20px rgba(88, 122, 66, 0.65);
}

.titre-bar6{
    border-left: solid 10px white;
    padding: 0 0 0 0;
}


.titre-bar-mobile{
    display: none;
}

.card{
    margin-bottom: 5px;
}
.card-header{
    background-color: rgb(89, 122, 67);
}

.card-body{
    background-color: rgb(122, 149, 105);
    font-family: 'Roboto-Light', sans-serif;
    font-size: 15px;
}

.contact{
    text-align: center;
}

button:hover > #fleche{
    transform: rotate(180deg);
}


#titre-bar{
    background-color: rgba(88, 122, 66, 0.65);
}

#title{
    margin-top: 2%;
}

#faq-content{
    margin-top: 55px;
    margin-bottom: 50px;
}