/** Header Barre */

#item-barre6{
    background-color: rgba(88, 122, 66, 0.65);
}

/** Body */

h1{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: white;
    margin: 0 0 0 0;
}

.btn{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.titre-bar2{
    border-right: solid white 10px;
    border-left: solid white 15px;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    width: 20px;
}

.titre-bar3{
    display: flex;
    padding-top: 8px;
}

.titre-bar4{
    display: none;
}

.card{
    margin-bottom: 5px;
}
.card-header{
    background-color: rgb(89, 122, 67);
}

.card-body{
    background-color: rgb(122, 149, 105);
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 15px;
}


#titre-bar{
    background-color: rgba(88, 122, 66, 0.65);
}

#title{
    margin-top: 2%;
}

#faq-content{
    margin-top: 55px;
    margin-bottom: 50px;
}