@media (max-width: 960px) {
    /** Mobile Menu */
    #liens-mobile6 {
        background-color: #542B56;
    }

    /** Titre-mobile */

    #titre-bar-mobile{
        background-color: rgb(110, 148, 84);
    }

    /** Title / Text*/


    p.article-content{
        margin-bottom: 30px;
        word-wrap: break-word;
    }

    /** ID */

    #blog-content{
        margin: 10px;
    }
}

@media (min-width: 426px) and (max-width: 769px) {

        /** Title / Text */

        h2.titre-blog, p.details-blog, p.article-content{
            text-align: center;
        }
}

