header{
    display: grid;
    grid-template-columns: [logo-start] 17% [logo-end column1-start] 7% [column1-end space-column1-start] 1% [space-column1-end column2-start] 7% [column2-end space-column2-start] 1% [space-column2-end column3-start] 7% [column3-end space-column3-start] 1% [space-column3-end column4-start] 7% [column4-end space-column4-start] 1% [space-column4-end column5-start] 7% [column5-end space-column5-start] 1% [space-column5-end column6-start] 7% [column6-end space-column6-start] 1% [space-column6-end column7-start] 7% [column7-end space-column7-start] 1% [space-column7-end column8-start] 7% [column8-end space-column8-start] 1% [space-column8-end column9-start] 7% [column9-end space-column9-start] 1% [space-column9-end column10-start] 7% [column10-end space-column10-start] 4%;
    grid-template-rows: [barre1-start] 25% [barre1-end bloc1-start] 25% [bloc1-end space-row1-start] 25% [space-row1-end barre2-start] 25% [barre2-end space-row2-start] 25%;
    background-color: #4d90fe;
}

img.logo{
    height: 148px;
    width: 148px;
}
.logo-header{
    display: flex;
    justify-content: center;
}

.item-menu1{
    background-color: #ff0084;
    grid-column: column1-start / column1-end;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-menu2{
    background-color: yellow;
    grid-column: column2-start / column2-end;
}

.item-menu3{
    background-color: #00a65a;
    grid-column: column3-start / column3-end;
}

.item-menu4{
    background-color: #0b2e13;
    grid-column: column4-start / column4-end;
}

.item-menu5{
    background-color: #0c5460;
    grid-column: column5-start / column5-end;
}

.item-menu6{
    background-color: #1b6d85;
    grid-column: column6-start / column6-end;
}

.item-menu7{
    background-color: #01ff70;
    grid-column: column7-start / column7-end;
}

.item-menu8{
    background-color: #2b2b2b;
    grid-column: column9-start / column9-end;
}

.item-menu9{
    background-color: #005cbf;
    grid-column: column10-start / column10-end;
}

button{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    border-radius: 3px;
    color: black;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    outline: none;
    transition: 0.2s;
}

button:hover{
    box-shadow: 3px 3px 12px 4px rgba(0, 0, 0, 0.18);
    transform: scale(1.01);
    color: white;
    font-size: large;
}

button:active {
    box-shadow: 6px 6px 18px 2px rgba(0, 0, 0, 0.18);
    transform: scale(0.98);
}

i{
    color: white;
}