@media (max-width: 960px){
    /** Mobile Menu */

    #liens-mobile11{
        background-color: #542B56;
    }

    /** Titre-mobile */

    #titre-bar-mobile{
        background-color: rgb(118, 120, 108);
    }
}

@media (max-width: 768px) {
    /** Body */

    #tableau-mobile{
        display: table;
        visibility: visible;
        width: 100%;
    }

    #tableau{
        display: none;
        visibility: hidden;
    }


    th, td, tr{
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
    }
}