/** Header Barre */

#item-barre5{
    background-color: rgba(110, 148, 84, 0.65);
}

/** Titre Bar */

.titre-bar-pc{
    background-color: rgb(110, 148, 84);
}

.space-bar {
    border-right: solid 20px rgb(110, 148, 84);
}



/** Liste Articles */



/** Icons */

i{
    color: black;
}

/** Tables */

table{
    border: solid rgb(110, 148, 84) 1px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-top: 20px;
    width: 100%;
}

th.table-content{
    padding: 10px;
}

.table-content{
    border-bottom: solid rgb(110, 148, 84) 1px;
    border-top: solid rgb(110, 148, 84) 1px;
}

.bandeau-article{
    background-color: rgb(118, 120, 108);
    color: #FFFFFF;
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 20px;
}

/** Link / Button */

button#rediger-boutton{
    color: #FFFFFF;
    background-color: rgb(110, 148, 84);
    margin-left: 15px;
}

button:hover#rediger-boutton{
    background-color: #FFFFFF;
    color: rgb(110, 148, 84);
}

button.boutton-article{
    font-size: 15px;
}

/** Img / Video */

img.photo-article{
    width: 100%;
}

/** ID */

#tableau{
    margin-top: 25px;
}

#tableau-mobile{
    display: none;
    visibility: hidden;
}



/** Modifier Article */



/** Title / Text */

label, p.titre-photo-modification{
    background-color: rgb(118, 120, 108);
    color: #FFFFFF;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 18px;
    padding-left: 5px;
    width: 100%;
}

/** Form */

form{
    padding: 0;
}

input{
    margin-bottom: 15px;
}

@media (min-width: 1023px) {
    .form-group{
        margin-bottom: 0;
    }
}

/** Link / Button */

button#button-retour{
    margin-top: 15px;
}

/** Img / Video */

img#img-article{
    width: 100px;
}

/** ID */

#modifier-content{
    margin-top: 25px;
    margin-bottom: 25px;
}


@media (max-width: 769px){

    a.action-link, .valider-art{
        display: flex;
        justify-content: center;
    }
}



/** Rédiger Article */



/** Form */

form.new-article{
    margin-top: 1%;
}

input#post_image{
    width: 75%;
}