/** Header Barre */

#item-barre8{
    background-color: rgba(118, 120, 108, 0.65);
}

/** Titre Bar */

.titre-bar-pc{
    background-color: rgb(118, 120, 108);
}

.space-bar {
    border-right: solid 20px rgb(118, 120, 108);
}

/** Icons */

i{
    color: black;
}

/** Tables */

table{
    border: solid black 1px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-top: 20px;
    width: 100%;
}

.table-content{
    border-bottom: solid black 1px;
    border-top: solid black 1px;
}

.bandeau-validation{
    background-color: rgb(118, 120, 108);
    color: #FFFFFF;
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 20px;
}

/** Link / Button */

button.boutton-validation{
    font-size: 15px;
}

/** Img / Video */

img#img-validation{
    width: 100px;
}

/** ID */

#tableau{
    margin-top: 25px;
}

#tableau-mobile{
    display: none;
    visibility: hidden;
}





/** Mofification Observation */





/** Title / Texte */

label, p.titre-photo-modification{
    background-color: rgb(118, 120, 108);
    color: #FFFFFF;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 18px;
    padding-left: 5px;
    width: 100%;
}

/** Main Balise */

form{
    padding: 0;
}

input.date-disable{
    margin-bottom: 5px;
    width: 100%;
}

@media (min-width: 1023px) {
    .form-group{
        margin-bottom: 0;
    }
}


/** Link / Button */

button#bouton-validation{
    font-size: 15px;
    margin-bottom: 5px;
}

button#button-retour{
    margin-top: 15px;
}

/** Img / Video */

img.photo-observation{
    height: 100%;
    width: 100%;
}

/** ID */

#modifier-content{
    margin-bottom: 25px;
    margin-top: 25px;
}


@media (max-width: 769px){

    /** Link / Button */

    button.bouton-validation{
        font-size: 15px;
    }

    a.action-link, .valider-obs{
        display: flex;
        justify-content: center;
    }
}
