/** Header Barre */

#item-barre8{
    background-color: rgba(118, 120, 108, 0.65);
}

/** Titre Bar */

.titre-bar-pc{
    background-color: rgb(118, 120, 108);
}

.space-bar {
    border-right: solid 20px rgb(118, 120, 108);
}

/** Body */

table{
    border: solid black 1px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
}

i{
    color: black;
}

img#img-validation{
    width: 100px;
}

.table-content{
    border-bottom: solid black 2px;
    border-top: solid black 2px;
}

.bandeau-validation{
    background-color: rgb(118, 120, 108);
    color: #FFFFFF;
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 20px;
}

.boutton-validation{
    font-size: 15px;
}

#tableau{
    margin-top: 25px;
}

#tableau-mobile{
    display: none;
    visibility: hidden;
}


/** Mofification Observation */

img.photo-observation{
    height: 100%;
    width: 100%;
}

label, p.titre-photo-modification{
    background-color: rgb(118, 120, 108);
    color: #FFFFFF;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 18px;
    padding-left: 5px;
    width: 100%;
}

form.modification-observation{
    padding: 0 0 5px 0;
}

#modifier-content{
    margin-top: 25px;
    margin-bottom: 25px;
}