/** PC */

/** Title / Text */

h1{
    color: white;
    margin: 0;
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 23px;
    text-align: center;
}

p {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 13px;
}

/** Form */

form{
    padding: 1%;
}

/** Link / Button */

button:hover{
    box-shadow: 1px 1px 4px black;
}

/** Img / Video */

img{
    border-radius: 3px;
}

/** ID */


#title{
    margin-top: 2%;
}

#titre-bar-mobile{
    visibility: hidden;
 }

/** Bar */

.titre-bar-pc{
    border-left: solid 10px white;
    padding: 0;
}


/**Mobile */

@media (max-width: 960px){

    /** Classes */

    .titre-bar-pc{
        display: none;
    }

    /** ID */

    #titre-bar-mobile{
        display: flex;
        justify-content: center;
        visibility: visible;
    }
}

/* message flash */


.alert-warning {
    color: #fff;
    background-color: #77257f;
    border-color: #77257f;
}