@font-face {
    font-family: 'Roboto-Bold';
    src: url('../../../bootstrap/MDB Free/font/roboto/Roboto-Bold.woff2') format("woff2");

}
@font-face {
    font-family: 'Roboto-Light';
    src: url('../../../bootstrap/MDB Free/font/roboto/Roboto-Light.woff2') format("woff2");
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../../../bootstrap/MDB Free/font/roboto/Roboto-Medium.woff2') format("woff2");
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../../../bootstrap/MDB Free/font/roboto/Roboto-Regular.woff2') format("woff2");
}

