img.musee{
    height: 100px;
    width: 200px;
}

h2.titre-footer{
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 18px;
    display: flex;
    color: white;
    justify-content: center;
    margin-top: 8px;
}

a:hover{
    color: #542B56;
}

button.cookie-button{
    background-color: #ddffc5;
    color: #4d4d4f;
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 18px;
}

button:hover.cookie-button{
    color: #ddffc5;
    background-color: #4d4d4f;
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 18px;
}

a:target.cookie-link > #cookie{
    display: none;
}

p#texte-coockie{
    color: #FFFFFF;
    font-family: 'Roboto-Regular1', sans-serif;
    font-size: 12px;
    margin: 10px 10px 0 0;
}

.background-footer{
    background-color: #6e9454;
}

.footer-liens{
    color: white;
    margin-top: 8px;
}

.youtube{
    display: flex;
    align-items: center;
}

#copyright{
    font-family: 'Roboto-Medium', sans-serif;
    text-align: center;
}

#menu1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu1, #menu2{
    font-family: 'Roboto-Medium', sans-serif;
}

#musee-partenaire{
    display: flex;
    flex-direction: column;
}

#logo-musee{
    display: flex;
    justify-content: center;
}

#reseau-sociaux{
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
}

#social-icone{
    padding: 0;
}

#newsletter-form{
    background-color: white;
    color: black;
}

#newsletter-formulaire{
    padding-left: 0;
}

#newsletter{
    padding-right: 7%;
    padding-left: 7%;
    padding-top: 5px;
}
#newsletter-button{
    color: #ddffc5;
    background-color: #4d4d4f;
    border: solid white 2px;
    font-family: 'Roboto-Regular', sans-serif;
    padding: 0 0 0 0;
}

#newsletter-button:hover{
    font-size: 18px;
    color: #FFFFFF;
    background-color: #542B56;
    border: solid white 2px;
}

#space-footer{
    padding: 0;
}

#cookie{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

