img.musee{
    height: 100px;
    width: 200px;
}

h2.titre-footer{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    display: flex;
    color: white;
    justify-content: center;
}

a:hover{
    color: #542B56;
}

.background-footer{
    background-color: #6e9454;
    padding-left: 2%;
    padding-right: 2%;
}

.footer-liens{
    color: white;
    margin-top: 8px;
}

.youtube{
    display: flex;
    align-items: center;
}

#copyright{
    text-align: center;
}

#menu1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#musee-partenaire{
    display: flex;
    flex-direction: column;
}

#logo-musee{
    display: flex;
    justify-content: center;
}

#reseau-sociaux{
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
}

#newsletter-form{
    background-color: white;
    color: black;
}

#newsletter{
    padding-right: 7%;
    padding-left: 7%;
    padding-top: 5px;
}
#newsletter-button{
    color: #ddffc5;
    background-color: #4d4d4f;
    border: solid white 2px;
    padding: 0 0 0 0;
}

#newsletter-button:hover{
    font-size: 18px;
    color: #FFFFFF;
    background-color: #542B56;
    border: solid white 2px;
}
