@media (max-width: 768px) {

    /** Nav */

    nav{
        background-color: white;
        padding-left: 0;
        padding-right: 0;
    }

    .navbar{
        padding-top: 3px;
    }

    a.nav-link{
        color: white;
        font-family: 'Roboto-Bold', sans-serif;
        font-size: 12px;
        margin-left: 5%;
        padding-bottom: 1px;
        padding-top: 1px;
    }

    /** Icons */

    i#header-icone{
        color: white;
    }

    i#menu-icone-mobile{
        color: rgb(88, 122, 66);
    }

    /** Form */

    input::placeholder{
        color: white;
        opacity: 1;
    }

    /** Link / Button */

    button.navbar-toggler{
        background-color: white;
        height: 100%;
        width: 100%;
    }

    /** Img / Video */

    img.logo{
        display: flex;
        height: 70px;
        width: 70px;
    }

    /** Classes */

    .menu-pc{
        display: none;
        visibility: hidden;
    }

    .liens-mobile{
        display: flex;
        flex-direction: row;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-top: 5px;
    }

    /** ID */

    #header-container{
        display: none;
    }

    #menu-mobile{
        display: inline;
        background-color: white;
        padding-top: 5px;
        visibility: visible;
    }

    #logo-mobile{
        display: inline;
        padding-top: 3px;
        visibility: visible;
    }

    #space-menu-user{
        margin: 10px;
    }



   
}