@media (min-width: 769px){

    /** Title / Text */

    h2.lien-header{
        color: white;
        font-family: 'Roboto-Bold', sans-serif;
        font-size: 65%;
        margin-top: 8px;
        width: 100%;
    }

    /** Icons */

    i#header-icone{
        color: white;
    }

    /** Link / Button */

    a#menu-user{
        color: #FFFFFF;
        padding-left: 0;
        padding-right: 0;
    }

    a:hover#menu-user{
        background-color: rgb(55, 56, 48);
    }

    button.bouton-menu{
        background-color: transparent;
        border: none;
        border-radius: 3px;
        color: black;
        cursor: pointer;
        font-family: 'Roboto-Bold', sans-serif;
        height: 100%;
        outline: none;
        padding-top: 10%;
        transition: 0.2s;
        width: 100%;
    }

    button.bouton-menu:hover{
        box-shadow: 3px 3px 12px 4px rgba(0, 0, 0, 0.18);
        color: white;
        font-size: medium;
        transform: scale(1.01);
    }

    button.bouton-menu:active {
        box-shadow: 6px 6px 18px 2px rgba(0, 0, 0, 0.18);
        transform: scale(0.98);
    }

    button.btn-user{
        background-color: rgb(118, 120, 108);
        border: 1px solid transparent;
        color: #FFFFFF;
        font-family: 'Roboto-Medium', sans-serif;
        font-size: 15px;
        margin: 0;
        padding: 5px 0 5px 0;
        width: 100%;
    }

    /** Img / Video */

    img.logo{
        display: flex;
        height: 125px;
        width: 125px;
    }

    /** Classes */

    .menu{
        border: solid white 7px;
        padding: 0 0 0 0;
    }

    .menu-barre{
        border-left: solid white 20px;
        border-right: solid white 20px;
        border-top: solid white 5px;
        height: 20px;
        padding: 0 0 0 0;
    }

    .dropdown-menu{
        background-color: rgb(118, 120, 108);
    }

    /** ID */

    #menu-mobile, #logo-mobile {
        display: none;
        visibility: hidden;
    }

    #header-container{
        border-bottom: inset #999999 2px;
        padding-bottom: 15px;
        margin-top: 10px;
    }

    #header-logo{
        display: flex;
        justify-content: center;
    }

    #item-menu1{
        background-color: rgba(215, 95, 227, 0.65);
    }

    #item-menu2{
        background-color: rgba(187, 59, 200, 0.65);
    }

    #item-menu3{
        background-color: rgba(148, 47, 158, 0.65);
    }

    #item-menu4{
        background-color: rgba(119, 37, 127, 0.65);
    }

    #item-menu5{
        background-color: rgba(110, 148, 84, 0.65);
    }

    #item-menu6{
        background-color: rgba(88, 122, 66, 0.65);
    }

    #item-menu7{
        background-color: rgba(69, 100, 49, 0.65);
    }

    #item-menu8{
        background-color: rgba(118, 120, 108, 0.65);
    }

    #item-menu9{
        background-color: rgba(55, 56, 48, 0.65);
    }

    #logo-users{
        color: #FFFFFF;
        padding-left: 5px;
        padding-right: 5px;
    }
}




@media (min-width: 990px) and (max-width: 1240px){

    /** Title / Text */

    h2.lien-header{
        font-size: 8px;
    }

    /** Link / Button */

    a.dropdown-item{
        font-size: 12px;
    }

    button.btn-user{
        font-size: 8px;
    }
}


@media (max-width: 768px) {

    /** Nav */

    nav{
        background-color: white;
        padding-left: 0;
        padding-right: 0;
    }

    a.nav-link{
        color: white;
        font-family: 'Roboto-Regular', sans-serif;
        font-size: 12px;
        margin-left: 5%;
        padding-bottom: 1px;
        padding-top: 1px;
    }

    .navbar{
        padding-top: 3px;
    }

    /** Form */

    input::placeholder{
        color: white;
        opacity: 1;
    }

    /** Link / Button */

    button.navbar-toggler{
        background-color: white;
        height: 100%;
        width: 100%;
    }

    /** Img / Video */

    img.logo{
        display: flex;
        height: 70px;
        width: 70px;
    }

    #menu-mobile{
        display: inline;
        background-color: white;
        visibility: visible;
    }

    /** Classes */

    .menu-pc{
        display: none;
        visibility: hidden;
    }

    .liens-mobile{
        display: flex;
        flex-direction: row;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-top: 5px;
    }

    /** ID */

    #header-container{
        display: none;
    }

    #logo-mobile{
        display: inline;
        padding-top: 3px;
        visibility: visible;
    }

    #space-menu-user{
        margin: 10px;
    }
}







