

.header-barre{
    background-color: black;
    height: 15px;
    /**background-color: rgba(158, 25, 164, 0.65);*/
    grid-column: column1-start / column1-end;
    grid-row: barre2-sart / barre2-end;

}

.item-menu1{
    background-color: rgba(158, 25, 164, 0.65);
}

.item-menu2{
    background-color: rgba(180, 108, 182, 0.65);
}

.item-menu3{
    background-color: rgba(109, 45, 96, 0.65);
}

.item-menu4{
    background-color: rgba(155, 53, 160, 0.65);
}

.item-menu5{
    background-color: rgba(85, 192, 15, 0.65);
}

.item-menu6{
    background-color: rgba(59, 90, 56, 0.65);
}

.item-menu7{
    background-color: rgba(82, 163, 26, 0.65);
}

.item-menu8{
    background-color: rgba(181, 188, 62, 0.65);
}

.item-menu9{
    background-color: rgba(55, 56, 48, 0.65);
}



