/** Header Barre */

#item-barre2{
    background-color: rgba(187, 59, 200, 0.65);
}

/** Titre Bar */

.titre-bar-pc{
    background-color: rgb(187, 59, 200);
}

.space-bar {
    border-right: solid 20px rgb(187, 59, 200);
}

/** Link / Button */

button.pdf-form-button{
    background-color: rgb(187, 59, 200);
    border: solid rgb(187, 59, 200) 2px;
    color: #FFFFFF;
}

button.pdf-form-button:hover{
    background-color: #FFFFFF;
    border: solid rgb(187, 59, 200) 2px;
    color: rgb(187, 59, 200);
}

/** ID */

#joinUs-content{
    margin: 2%;
}

#adherer-text{
    margin-bottom: 15px;
    margin-top: 15px;
}

#pdf-button{
    display: flex;
    justify-content: center;
}