@media (max-width: 960px){
    /** Mobile Menu */

    #liens-mobile3{
        background-color: #542B56;
    }

    /** Titre-mobile */

    #titre-bar-mobile{
        background-color: rgb(187, 59, 200);
    }

    /** Img / Video */

    img{
        width: 100%;
    }

    /** ID */

    #joinUs-content{
        display: flex;
        margin-bottom: 2%;
        margin-top: 1%;
    }
    #joinUs-content > #img-adherer{
        order: 1;
        padding: 0;
    }

    #joinUs-content > #order-joinUs{
        order: 2;
    }

}