@media (max-width: 960px){
    /** Mobile Menu */

    #liens-mobile5{
        background-color: #542B56;
    }

    /** Titre-mobile */

    #titre-bar-mobile{
        background-color: rgb(119, 37, 127);
    }

    /** Body */

    #map{
        height: 250px;
    }

    #map-content{
        display: flex;
    }

    #map-content > #block-15-obs{
        order: 1;
    }

    #map-content > #block-form{
        order: 2;
    }

    #map-content > #block-results{
        order: 3;
    }

    #map-content > #block-map{
        order: 4;
    }
}