/** Header Barre */

#item-barre4{
    background-color: rgba(119, 37, 127, 0.65);
}

/** Titre Bar */

.titre-bar-pc{
    background-color: rgb(119, 37, 127);
}

.space-bar {
    border-right: solid 20px  rgb(119, 37, 127);
}

/** Title / Text */

h2{
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 20px;
    padding-bottom: 3%;
}

h3{
    color:  rgb(119, 37, 127);
    font-family: 'Roboto-Bold', sans-serif;
}

p.p-no-margin{
    margin: 5px;
}

/** Link / Button */

a.retour-map{
    display: flex;
    justify-content: center;
}

a#bouton-retour-mobile{
    display: none;
    visibility: hidden;
}

button.boutton-retour-map{
    background-color: rgb(119, 37, 127);
    color: #FFFFFF;
    margin-top: 1%;
}

button:hover.boutton-retour-map{
    background-color: #FFFFFF;
    color: rgb(119, 37, 127);
}

/** Img / Video */

img.img-results{
    width: 100%;
}

/** ID */

#results-content{
    background-color: rgba(0, 0, 0, 0.05);
    border: black solid 1px;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 15px;
    padding: 1%;
}

#photo-block{
    padding-left: 0;
}

#results-block, .observation-result, #for-results{
    margin-top: 3%;
}

#results-block{
    margin-bottom: 3%;
}



