@media (max-width: 960px){
    /** Mobile Menu */

    #liens-mobile5{
        background-color: #542B56;
    }

    /** Titre-mobile */

    #titre-bar-mobile{
        background-color: rgb(119, 37, 127);
    }

    /** Title / Text */

    h2, h3{
        font-size: 15px;
    }

    p{
        font-size: 10px;
    }
}

@media (max-width: 767px) {

    /** Link / Button */

    a#bouton-retour-mobile{
        display: flex;
        visibility: visible;
    }

    a#bouton-retour-pc{
        display: none;
        visibility: hidden;
    }

    /** ID */

    #photo-block{
        padding: 0;
    }
}