/** Header Barre */

#item-barre7{
    background-color: rgba(69, 100, 49, 0.65);
}

/** Titre Bar */

.titre-bar-pc{
    background-color: rgb(70, 100, 50);
}

.space-bar {
    border-right: solid 20px rgb(70, 100, 50);
}

/** Title / Text */

p.asso{
    font-family: 'Roboto-Bold', sans-serif;
    margin-bottom: 0;
}

p.coordonnees{
    margin-bottom: 0;
}

/** Icons */

i#contact-icone{
    color: rgb(70, 100, 50);
    margin-top: 3px;
}

/** Link / Button */

button.bouton{
    background-color: rgb(70, 100, 50);
    color: #FFFFFF;
    max-height: 70px;
    max-width: 150px;
}

button.bouton:hover{
    background-color: #FFFFFF;
    border: solid black 1px;
    color: #999999;
}

/** Classes */

.contact{
    margin-top: 1%;
}


/** ID */

#contact-content{
    margin-bottom: 5%;
    margin-left: 5%;
    margin-top: 1%;
}

#formulaire-contact{
    border: solid black 1px;
    background-color: rgba(0, 0, 0, 0.05);
}

#envoyer{
    display: flex;
    font-family: 'Roboto-Regular', sans-serif;
    justify-content: flex-end;
}

#map-contact {
    height: 100%;
    width: 100%;
}