@media (max-width: 960px) {
    /** Mobile Menu */
    #liens-mobile8 {
        background-color: #542B56;
    }

    /** Titre-mobile */

    #titre-bar-mobile{
        background-color: rgb(70, 100, 50);
    }

    /** Mobile Body */

    #contact-content > #infos-contact{
        order: 2;
    }

    #contact-content > .map-contact{
        order: 3;
    }

    #contact-content > #formulaire-contact{
        order: 1;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #envoyer{
        display: flex;
        justify-content: center;
    }

    #contact-content{
        display: flex;
        margin: 1% 2% 5% 2%;
    }
}