/** Header Barre */

#item-barre9{
    background-color: rgba(55, 56, 48, 0.65);
}

/** Titre Bar */

.titre-bar-pc{
    background-color: rgb(55, 56, 48);
}

.space-bar {
    border-right: solid 20px rgb(55, 56, 48);
}

/** Body */

.form-search{
    display: flex;
    justify-content: center;
}

#search-content{
    margin-top: 5%;
    margin-bottom: 5%;
}