/** Header Barre */

#item-barre9{
    background-color: rgba(55, 56, 48, 0.65);
}

/** Titre Bar */

.titre-bar-pc{
    background-color: rgba(55, 56, 48, 0.65);
}

.space-bar {
    border-right: solid 20px rgba(55, 56, 48, 0.65);
}

/** Body */

.form-search{
    display: flex;
    justify-content: center;
}

#search-content{
    margin-top: 5%;
    margin-bottom: 5%;
}

button#boutton-recherche{
    background-color: rgba(55, 56, 48, 0.65);
    color: #FFFFFF;
    padding-left: 5%;
    padding-right: 5%;
}

button:hover#boutton-recherche{
    color: rgba(55, 56, 48, 0.65);
    background-color: #FFFFFF;
}

@media (max-width: 425px) {
    #form-recherche{
        display: flex;
        justify-content: center;
    }
}