/** Header Barre */

#item-barre9{
    background-color: rgba(55, 56, 48, 0.65);
}

/** Titre Bar */

.titre-bar-pc{
    background-color: rgba(55, 56, 48, 0.65);
}

.space-bar {
    border-right: solid 20px rgba(55, 56, 48, 0.65);
}

/** Classes */

.form-search{
    display: flex;
    justify-content: center;
}


/** ID */

#search-content{
    margin-bottom: 5%;
    margin-top: 5%;
}

@media (max-width: 425px) {

    /** Form */

    form#form-recherche{
        display: flex;
        justify-content: center;
    }
}