<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.homepage.css') }}">
        {% endblock %}
    </head>
    <body>
        <ul>
            <li>
                <a href="/">Page d'acceuil</a>
            </li>
        </ul>
        {% block body %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
