body {
    background-image: url("../../../img/background-image-HP.jpg");
    background-repeat: no-repeat;
}

img{
    height: 165px;
    width: 165px;
}

h1{
    color: white;
    font-size: 40px;
    font-family: 'Roboto-Medium', sans-serif;
}

h3{
    color: white;
    font-size: 18px;
    font-family: 'Roboto-Light', sans-serif;
    text-transform: uppercase;
}

h1, h3{
    text-shadow: 5px 5px 5px black;
    text-align: center;
}

#button{
    display: flex;
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 30px;
    justify-content: center;
    margin-top: 20px;
}

.content-block{
    margin-left: 60%;
}


#space{
    height: 350px;
}