@media (max-width: 1210px){
    h1{
        color: white;
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
    }

    h3{
        color: white;
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        font-weight: lighter;
        text-transform: uppercase;
    }

    #button{
        display: flex;
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        justify-content: center;
        margin-top: 20px;
    }
}


@media (max-width: 970px) {
    body {
        background: top center  no-repeat url("../../../img/background-image-HP.jpg");

    }

    img{
        height: 90px;
        width: 90px;
    }

    .content-block{
        margin-left: 0;
        margin-top: 50%;
    }

    #space{
        display: none;
    }

    #logo-nao{
        background-color: rgba(255, 255, 255, 0.25);
        display: flex;
        justify-content: center;
    }

    #button{
        display: flex;
        font-family: 'Roboto-Bold', sans-serif;
        font-size: 30px;
        justify-content: center;
        margin-top: 20px;
    }
}
