/** Main Balise */

body {
    background-image: url("../../../img/background-image-HP.jpg");
    background-repeat: no-repeat;
}

/** Title / Text */

h1{
    color: white;
    font-size: 38px;
    font-family: 'Roboto-Medium', sans-serif;
}

h3{
    color: white;
    font-family: 'Roboto-Light', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

h1, h3{
    text-align: center;
    text-shadow: 5px 5px 5px black;
}

/** Img / Video */

img{
    height: 165px;
    width: 165px;
}

/** Classes */

.content-block{
    margin-left: 50%;
}

/** ID */

#button{
    display: flex;
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 30px;
    justify-content: center;
    margin-top: 20px;
}

#space{
    height: 350px;
}