@media (max-width: 960px) {

    /** Mobile Menu */

    #liens-mobile2{
        background-color: #542B56;
    }

    /** Titre-mobile */

    #titre-bar-mobile{
        background-color: rgb(215, 95, 227);
    }

    /** Img / Video */

    img.img-apropos{
        margin: 0;
        padding: 0;
    }

    /** Classes */

    .apropos-texte{
        margin-left: 0;
        padding: 15px 5px 5px 5px;
    }
}