/** Header Barre */

#item-barre1{
    background-color: rgba(215, 95, 227, 0.65);
}

/** Titre Bar */

.titre-bar-pc{
    background-color: rgb(215, 95, 227);
}

.space-bar {
    border-right: solid 20px rgb(215, 95, 227);
}

/** Title / Text */

p.chasseur{
    font-weight: bold;
}

/** Img / Video  */

img.img-apropos{
    margin-left: 15px;
    margin-right: 15px;
}

/** Classes */

.body-apropos{
    margin-bottom: 25px;
    margin-top: 25px;
}

.apropos-texte{
    margin-left: 50px;
    padding-left: 0;
    padding-right: 100px;
    padding-top: 15px;
}

/** ID */

#image-apropos{
    height: 100%;
    width: 100%;
}



