{% extends "base.html.twig" %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('/nao/css/404/404.css') }}">
{% endblock %}


{% block body %}

    <div class="row" id="content-404">
        <div class="col-xl-3 col-lg-3 col-md-1 col-xs-1"></div>
        <div class="col-xl-2 col-lg-2 col-md-3 col-xs-3">
            <img id="img-chien-oiseau" src="{{ asset('/img/chien-oiseau.png') }}">
        </div>
        <div class="col-xl-4 col-lg-4 col-md-7 col-xs-7" id="text-404">
            <h2 class="message-404">Oops !</h2>
            <h2 class="message-404">La page que vous recherchez n'existe pas ...</h2>
            <div class="row">
                <div class="col-12" id="return-website">
                    <a  class="link-404" href="{{ path('about') }}">Cliquez ici pour revenir sur le site</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-1 col-xs-1"></div>
    </div>

{% endblock %}