/** Header Barre */

#item-barre8{
    background-color: rgba(118, 120, 108, 0.65);
}

/** Titre Bar */

.titre-bar-pc{
    background-color: rgb(118, 120, 108);
}

.space-bar {
    border-right: solid 20px rgb(118, 120, 108);
}

/** Title / Text */

h2.titre-connexion{
    color: rgb(77,77,79);
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 25px;
    text-align: center;
}

/** Form */

form.connexion{
    background-color: rgba(0, 0, 0, 0.05);
    border: black solid 1px;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 11px;
    margin-bottom: 5%;
    padding: 5%;
}

/** Link / Button */

a#creer-un-compte{
    background-color: rgb(118, 120, 108);
    color: #FFFFFF;
    padding: 5px 15px 5px 15px;
}
a:hover#creer-un-compte{
    background-color: #FFFFFF;
    border: solid 1px rgb(118, 120, 108);
    box-shadow: 1px 1px 4px black;
    color: rgb(118, 120, 108);
    padding: 5px 15px 5px 15px;
}

a:hover#creer-un-compte > .signup{
    color: rgb(118, 120, 108);
}

button#boutton-connexion{
    background-color: rgb(118, 120, 108);
    color: #FFFFFF;
    padding: 5px;
}
button:hover#boutton-connexion{
    background-color: #FFFFFF;
    border: solid 1px rgb(118, 120, 108);
    color: rgb(118, 120, 108);
    padding: 5px;
}

/** ID */

#se-connecter{
    display: flex;
    justify-content: center;
}