@media (max-width: 960px){
    /** Mobile Menu */

    #liens-mobile1{
        background-color: #542B56;
    }

    /** Titre-mobile */

    #titre-bar-mobile{
        background-color: rgb(118, 120, 108);
    }

    /** Title / Text */

    h2.titre-connexion{
        font-size: 15px;
    }
}