<h1> Hello {{ data.firstName|capitalize }} !</h1>

<p>Bonjour votre message à bien été reçu par notre équipe et nous allons vous répondre dans les plus bref délais</p>

<cite>{{ data.object }}</cite>
<cite>{{ data.message }}</cite>

<p>Cordailement l'équipe de NAO</p>