<h1> Hello {{ data.firstName|capitalize }} !</h1>

<p>Vous recevez cette email suite à l'inscription au site NAO</p>

<p>Votre Identifiant: {{ data.username }}</p>
<p>Votre mot de passe: {{ data.plainPassword }}</p>

<p>Cordialement l'équipe de NAO</p>