{% extends "base.html.twig" %}
{% block body %}
     {{ homepage }}
        <ul>
            <li>
                <a href="/a-propos">A Propos</a>
            </li>
            <li>
                <a href="/adherer">Adhérer</a>
            </li>
            <li>
                <a href="/observer">Observer</a>
            </li>
            <li>
                <a href="/carte">Carte</a>
            </li>
            <li>
                <a href="/blog">Blog</a>
            </li>
            <li>
                <a href="/faq">F.A.Q</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
            <li>
                <a href="/connexion">Se connecter</a>
            </li>
            <li>
                <a href="/logout">Se déconnecter</a>
            </li>
            <li>
                <a href="/admin">Admin</a>
            </li>
        </ul>
{% endblock %}
