{% extends "base.html.twig" %}
{% block body %}
     {{ homepage }}
        <ul>
            <li>
                <a href="/about">A Propos</a>
            </li>
            <li>
                <a href="/joinUs">Adhérer</a>
            </li>
            <li>
                <a href="/observe">Observer</a>
            </li>
            <li>
                <a href="/map">Carte</a>
            </li>
            <li>
                <a href="/blog">Blog</a>
            </li>
            <li>
                <a href="/faq">F.A.Q</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
            <li>
                <a href="/signIn">Se connecter</a>
            </li>
        </ul>
{% endblock %}
