{% extends "base.html.twig" %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('/nao/css/joinUs/joinUs.css') }}">
{% endblock %}

{% block body %} 

    <h1>Adhérer</h1>

    <a href="{{ path('join_us_show_file') }}">
        <button type="button">Télécharger le formulaire d'adhésion</button>
    </a>
{% endblock %}