{% extends "base.html.twig" %} 

{% block body %} 

    <h1>Adhérer</h1>

<a href="{{ path('adhesion_file') }}">
        <button type="button">Télécharger le formulaire d'adhésion</button>
    </a>
{% endblock %}