{% extends "base.html.twig" %} 

{% block body %} 

    {{ joinUs }}

<a href="{{ path('adhesionFile') }}">
        <button type="button">Télécharger le formulaire d'adhésion</button>
    </a>
{% endblock %}