{% extends "base.html.twig" %}

{% block body %}

    <h1>Carte-liste</h1>

    <div>
        <p>Une belle image</p>
        <h2>Fiche détaillée</h2>

        <p>Moineau domestique (Fringuilla domestica)</p>
        <p>Ordre: Passeriforme</p>
        <p>Habitat: Terrestre</p>
        <p>Autheur: (Bonaparte, 1828)</p>
    </div>

    <button>Retour à la page recherche</button>

    <div>
        <h2>Il y a X observation</h2>

        <ul>
            <li>Image</li>
            <li>Lieu: Dijons</li>
            <li>Observé le: 04/11/17</li>
            <li>Coordonnés GPS: 46.387 N, 63.987 E</li>
            <li>Observateur: John Snow</li>
        </ul>
        <ul>
            <li>Image</li>
            <li>Lieu: Dijons</li>
            <li>Observé le: 04/11/17</li>
            <li>Coordonnés GPS: 46.387 N, 63.987 E</li>
            <li>Observateur: John Snow</li>
        </ul>
        <ul>
            <li>Image</li>
            <li>Lieu: Dijons</li>
            <li>Observé le: 04/11/17</li>
            <li>Coordonnés GPS: 46.387 N, 63.987 E</li>
            <li>Observateur: John Snow</li>
        </ul>
        <ul>
            <li>Image</li>
            <li>Lieu: Dijons</li>
            <li>Observé le: 04/11/17</li>
            <li>Coordonnés GPS: 46.387 N, 63.987 E</li>
            <li>Observateur: John Snow</li>
        </ul>
    </div>

{% endblock %}