{% extends "base.html.twig" %} 

{% block body %} 

    {{ observe }}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Soumettre l'observation</button>
    {{ form_end(form) }}



{% endblock %}